@{
    ViewBag.Title = "About";
    ViewBag.Message = "Soloist Project";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This project is my final project for my B.Sc. in Computer Science,
    in the context of an object oriented workshop using the .NET Framework
    and the C# langages, with emphasis on design patterns ("gang of four").
</p>

<p>
    The project is meant to be used as an aid tool for music amateurs as myself,
    for generating suggestions for solo melodies on a given harmony. 
    the outputs from this application can help inspire ideas to embed later
    when constructing a composed\improvised solo. 
</p>
