
@{
    ViewBag.Title = "Documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Documentation</h2>
<p> The application analysis & design documents are well documented in the following documents: </p>

<!-- Document List -->
<div>
    <table class="table">
        <!-- tables headers -->
        <thead>
            <tr style="color:yellow">
                <th>  Document  </th>
            </tr>
        </thead>

        <!-- tables contents -->
        <tbody>
            <!-- OOA -->
            <tr>
                <td>
                    <a href="https://github.com/cwelt/Soloist/blob/master/Design/Documents/pdf/OOA-Object-Oriented-Analysis.pdf" target="_blank">Object-Oriented Analysis (OOA) Document.</a><br />
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://github.com/cwelt/Soloist/blob/master/Design/Documents/pdf/OOD-Object-Oriented-Design.pdf" target="_blank">Object-Oriented Design (OOD) Document.</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://github.com/cwelt/Soloist/blob/master/Design/Documents/pdf/User-Manual.pdf" target="_blank">User Manual Document.</a>
                </td>
            </tr>
        </tbody>

    </table>
</div>


