
@{
    ViewBag.Title = "Documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Documentation</h2>
<p> Nothing here yet... </p>
<p>
    This page would be updated in a couple of weeks
    when the project is fully complete....
</p>


