
@{
    ViewBag.Title = "Documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:gold">Documentation</h2>
<p style="color:yellow"> The application analysis & design documents are well documented in the following documents: </p>

<!-- Document List -->
<div>
    <ul>
        <li>
            <a href="https://github.com/cwelt/Soloist/blob/master/Design/Documents/pdf/OOA-Object-Oriented-Analysis.pdf" target="_blank">Object-Oriented Analysis (OOA) Document.</a><br />
        </li>
        <li>
            <a href="https://github.com/cwelt/Soloist/blob/master/Design/Documents/pdf/OOD-Object-Oriented-Design.pdf" target="_blank">Object-Oriented Design (OOD) Document.</a>
        </li>
        <li>
            <a href="https://github.com/cwelt/Soloist/blob/master/Design/Documents/pdf/User-Manual.pdf" target="_blank">User Manual Document.</a>
        </li>
    </ul>
</div>

