
@{
    ViewBag.Title = "Documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:gold">Documentation</h2>
<p style="color:yellow"> The application analysis & design documents are well documented in the following documents: </p>

<!-- Document List -->
<div>
    <hr />
    <ul>
        <li>
            <a href="https://github.com/cwelt/Soloist/blob/master/Design/Documents/pdf/OOA-Object-Oriented-Analysis.pdf" target="_blank">Object-Oriented Analysis (OOA) Document.</a><br />
        </li>
        <li>
            <a href="https://github.com/cwelt/Soloist/blob/master/Design/Documents/pdf/OOD-Object-Oriented-Design.pdf" target="_blank">Object-Oriented Design (OOD) Document.</a>
        </li>
        <li>
            <a href="https://github.com/cwelt/Soloist/blob/master/Design/Documents/pdf/User-Manual.pdf" target="_blank">User Manual Document.</a>
        </li>
        <li>
            <a href="https://github.com/cwelt/Soloist/blob/master/Design/Documents/pdf/Genetic-Algorithms-For-Melody-Generation-Seminar-Paper.pdf" target="_blank">Genetic Algorithm Composition Seminar Paper.</a>
        </li>
    </ul>
    <hr />
</div>

<!-- Design mix image-->
<img src="https://github.com/cwelt/Soloist/raw/master/WebApplication/Content/images/design-mix.png"
     style="float:none;width:400px;height:450px; padding-right:8px">

