
@{
    ViewBag.Title = "Compose";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2> Generated melody is ready for download!</h2>

@Html.ActionLink("Click here to download", "DownloadFile", "Composition")


