<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>

    <!-- Sample data-->
    <add key="midiFile"
         value="SampleData\after_20_years.mid"></add>
    <add key="chordsFile"
         value="SampleData\twenty_years_chords.txt"/>

    <!-- Sample data for testing -->
    <add key="midiFileTest"
         value="SampleData\test.mid"></add>
    <add key="chordsFileTest"
         value="SampleData\test.txt"></add>
  </appSettings>
</configuration>