<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="midiFile"
         value="C:\Users\chwel\OneDrive\שולחן העבודה\demo\after_20_years.mid"></add>
    <add key="midiFileTest"
         value="C:\Users\chwel\OneDrive\שולחן העבודה\demo\test.mid"></add>
    <add key="chordsFileTest"
         value="C:\Users\chwel\OneDrive\שולחן העבודה\demo\test.txt"></add>
    <add key="midiFilePlayback"
         value="C:\Users\chwel\source\repos\CW.Soloist\CompositionService\obj\Debug\after_20_years_playback.mid"></add>
    <add key="chordsFile" value="C:\Users\chwel\OneDrive\שולחן העבודה\demo\twenty_years_chords.txt"/>

  </appSettings>
</configuration>