
@{
    ViewBag.Title = "Source Code";
}

<h2>Source Code</h2>
<p>
    The entire source code for this application is available on my github page
    inside the
    @Html.ActionLink("soloist repoitory.", "Repository", "Home", htmlAttributes: new { target = "_blank" })
</p>
<p>
    Feel free to
    @Html.ActionLink("contact me", "Contact", "Home", htmlAttributes: new { target = "_" })
    if you're interestd in contributing and extending the current project.
</p>
